.about {
  background-color: $color-default-white;
  margin-top: 120px;

  @media (max-width: 1023px) {
    margin-top: 80px;
  }

  @media (max-width: 767px) {
    margin-top: 45px;
  }
}

.about__description {
  position: relative;
  padding-left: 250px;

  @media (max-width: 1023px) {
    padding-left: 175px;
  }

  @media (max-width: 767px) {
    padding-left: 0;
  }

  &::before {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 150px;
    height: 320px;
    background-image: url("../img/2022.png");

    @media (max-width: 767px) {
      display: none;
    }
  }
}

.about__content {
  margin-top: 12px;

  @media (max-width: 1023px) {
    margin-top: 0;
  }

  @media (max-width: 767px) {
    font-size: 14px;
    line-height: 18px;
  }
}

.about__text {
  margin-top: 12px;
  margin-bottom: 24px;


  @media (max-width: 1023px) {
    margin-top: 12px;
    margin-bottom: 12px;
    line-height: 21.5px;
  }

  @media (max-width: 767px) {
    line-height: 19px;
    margin-top: 10px;
    margin-bottom: 0;
  }

  &--mobile {
    display: none;

    @media (max-width: 767px) {
      display: block;
      margin-top: 20px;
    }
  }

  &--desktop {

    @media (max-width: 1023px) {
      margin-top: 20px;
      margin-bottom: 0;
    }

    @media (max-width: 767px) {
      display: none;
    }
  }
}

.about__btn {
  margin-top: 20px;
}
