.advantages {
  margin-top: 120px;

  @media (max-width: 1023px) {
    margin-top: 80px;
  }

  @media (max-width: 767px) {
    margin-top: 50px;
  }
}

.advantages__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;

  @media (max-width: 1023px) {
    row-gap: 20px;
    column-gap: 30px;
  }

  @media (max-width: 767px) {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
}

.advantages__item {
  border: 1px solid $whisper;
  border-left: 5px solid $deep-sky-blue;
  min-height: 300px;
  max-width: 590px;

  @media (max-width: 767px) {
    max-width: 100%;
  }
}
