.auto-resize-textarea {
  margin-bottom: 20px;

  @media (max-width: 1023px) {
    margin-bottom: 0;
  }
}

  textarea {
    font-size: 16px;
    line-height: 21px;
    padding: 25px 15px;
    width: 100%;
    border: 2px solid $deep-sky-blue;
    border-radius: 3px;
    outline: none;
    transition: border-color 0.3s ease;
    background-color: rgba(20, 39, 38, 15%);
    min-height: 155px;

    @media (max-width: 1023px) {
      min-height: 157px;
      padding-top: 30px;
    }

    @media (max-width: 767px) {
      padding-top: 23px;
      min-height: 180px;
    }

    &::placeholder {
      color: $color-default-white;
    }

    &:hover {
      border: 2px solid $black-pearl;
    }

    &:focus {
      border: 2px solid $black-pearl;
    }
  }

