.footer-menu {
  position: relative;
  color: $color-default-white;

  @media (max-width: 1023px) {
    grid-area: menu;
  }

  @media (max-width: 767px) {
    padding-top: 0;
    padding-bottom: 20px;
    font-size: 14px;
    line-height: 19px;
  }
}

.footer-menu__list {
  column-count: 2;
  column-width: auto;
  column-gap: 20px;

  @media (max-width: 1023px) {
    column-count: 1;
  }
}

.footer-menu__item {

  &:not(:last-child) {
    margin-bottom: 10px;

    @media (max-width: 767px) {
      margin-bottom: 14px;
    }
  }

  &:last-child {
    margin-bottom: 60px;

    @media (max-width: 1023px) {
      margin-bottom: 0;
    }
  }
}

.footer-menu__link {
  color: $color-default-white;
}
