.footer-contacts {
  position: relative;
  color: $color-default-white;

  @media (max-width: 1023px) {
    grid-area: contacts;
  }

  @media (max-width: 767px) {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 14px;
    line-height: 19px;
  }
}

.footer-contacts__item:not(:last-child) {
  margin-bottom: 10px;

  @media (max-width: 767px) {
    margin-bottom: 14px;
  }
}

.footer-contacts__link {
  color: $color-default-white;
}
