.main-block {
  background-color: $black-pearl;
  color: $color-default-white;
  background-image: url(../img/fonmainunit.jpg);
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url(../img/fonmainunit@2x.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.main-block__transparent {
  background-image: url(../img/opacitymainunit.png);
}

.main-block__wrapper {
  padding-top: 140px;
  padding-bottom: 250px;
  padding-left: 150px;

  @media (max-width: 1023px) {
    padding-top: 80px;
    padding-bottom: 205px;
    padding-left: 0;
  }

  @media (max-width: 767px) {
    padding-bottom: 190px;
  }
}

.main-block__description {
  font-size: 22px;
  line-height: 34px;
  max-width: 685px;
  margin-bottom: 40px;

  @media (max-width: 767px) {
    font-size: 14px;
    line-height: 21px;
  }
}
