.services {
  background-color: $black-pearl;
  margin-top: 105px;
  padding-top: 65px;
  padding-bottom: 140px;

  @media (max-width: 1023px) {
    margin-top: 70px;
    padding-top: 55px;
    padding-bottom: 75px;
  }

  @media (max-width: 767px) {
    margin-top: 70px;
  }
}

.services__title {
  color: $color-default-white;
}

.services__list {
  margin-top: 50px;
  display: flex;
  gap: 85px;

  @media (max-width: 1023px) {
    flex-direction: column;
    gap: 30px;
    margin-top: 40px;
  }
}

.services__item {
  flex-basis: calc(100% / 3);

  @media (max-width: 1023px) {
    max-width: 100%;
    flex-basis: 100%;
  }
}
