.show-more {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 30px;

  @media (max-width: 1023px) {
    margin-top: 12px;
  }
}



.show-more__text {
  display: none;
}

.show-more.is-open .show-more__text {
  display: block;
  transition: all 1s ease;
}
